<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Right Choice</title>
  <!--INSTALL ICON / MAKE LOGO -->
    <link rel="stylesheet" href=" ./assets/styles/style.css">
  <link rel="stylesheet" href=" ./assets/styles/logins.css">

  <link href="https://fonts.googleapis.com/css?family=Lora|Playfair+Display|Raleway|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="../../assets/js/index.js"></script>
 <!--   <script src=" ./assets/js/calendar.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>


</head>

<!--- HEADER MENU --->
<header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
        
            <div class="col-md-4">


          <div style="font-family:'Raleway', sans-serif;"  class="col-md-4 offset-md-1 py-4">
                          <h5  href="#" class="text-white"> About Us</h5>
            <ul  class="list-unstyled">
              <li><a href="#" class="text-white">About</a></li>
              <li><a href="#" class="text-white">Contact</a></li>
              <li><a  class="text-white"></a></li>

            </ul>
          </div>
        </div>


        <div class="col-md-4">


            <div style="font-family:'Raleway', sans-serif;" class="col-md-4 offset-md-1 py-4">
              <h5  href="/dresses" class="text-white">Dresses</h5>
              <ul class="list-unstyled">
                <li><a href="/dresses" class="text-white">All Dresses</a></li>
                <li><a href="/dresses/Cocktail" class="text-white">Cocktails</a></li>
                <li><a href="/dresses/Evening Gown" class="text-white">Evening Gowns</a></li>
                <li><a  class="text-white"></a></li>

              </ul>
            </div>
          </div>

          <div class="col-md-4">


              <div style="font-family:'Raleway', sans-serif;" class="col-md-4 offset-md-1 py-4">
             <h5 class="text-white">Log In</h5>
                <ul class="list-unstyled">
                  <li><a href="/signup" class="text-white">Register</a></li>
                  <li><a href="/login" class="text-white">Sign In</a></li>
                  <li><a href="/reservations" class="text-white">Dashboard</a></li>
                </ul>
              </div>
            </div>

        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
    <a href="/" class="navbar-brand d-flex align-items-center">
          <h3 style="font-family: 'Playfair Display', serif;" class="masthead-brand text-center">The Right Choice</h3> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>  <!--- HEADER MENU --->



<body>
  {{{body}}}
</body>



    <footer class="container py-5">
        <div class="row">
          <div class="col-12 col-md">
               <a href="/" class="navbar-brand d-flex align-items-center">
          <h3  href="/" style="font-family: 'Playfair Display', serif; font-size:25px; font-weight:bold; color:black;" class="masthead-brand text-left">The Right Choice</h3> </a>
          </div>

          <div style="font-family:'Raleway', sans-serif;" class="col-6 col-md">
            <ul class="list-unstyled text-small">
            <h5>About Us</h5>
              <li><a class="text-muted" href="/about">About</a></li>
              <li><a class="text-muted" href="/contact">Contact</a></li>
              <li><a class="text-muted" href="/dashboard">Dashboard</a></li>
            </ul>
          </div>

      
          <div style="font-family:'Raleway', sans-serif;" class="col-6 col-md">
            <h5>Dresses</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="/dresses/Cocktail">Cocktails</a></li>
              <li><a class="text-muted" href="/dresses/Evening Gown">Evening Gowns</a></li>
            </ul>
          </div>

              <div style="font-family:'Raleway', sans-serif;" class="col-6 col-md">
            <h5>Follow Us</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="https://www.facebook.com">Facebook</a></li>
              <li><a class="text-muted" href="https://www.instagram.com">Instagram</a></li>
            </ul>
          </div>
        </div>
      </footer>
</html>