<div class="container">
  <div class="py-5 text-center">
    <h2>Add a new Dress to Database</h2>
 
 <form class="form-group" id="dressAdd" method="POST" action="/api/dresses">
  <img class="mb-4 text-center" src="/docs/4.2/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
 
  <label class="sr-only" for="dressName">Name:</label>
  <input class="form-control" type="text" name="name" id="dressName" placeholder="Dress"/>

  <label class="sr-only" for="dressCategory">Category:</label>
  <input class="form-control" type="text" name="category" id="dressCategory" placeholder="Cocktail"/>

 <label class="sr-only" for="dressSize">Size:</label>
  <input class="form-control"  type="number" name="size" id="dressSize" placeholder="4"/>

  <label  class="sr-only" for="description">Description:</label>
  <input type="text" name="description" id="dressDescription" class="form-control" placeholder="Description"/>
 
  <label  class="sr-only" for="stock">Stock:</label>
  <input type="number" name="stock" id="dressStock" class="form-control" placeholder="10"/>

  <label  class="sr-only" for="picture">Picture:</label>
  <input type="text" name="picture" id="dressPicture" class="form-control" placeholder="IMG"/>

  <label  class="sr-only" for="price">Price:</label>
  <input type="number" name="price" id="dressPrice" class="form-control" placeholder="$100"/>

  <button class="btn b btn-primary btn-block" type="submit" id="addDress">Add Dress</button>

</form>
<hr>
 </div>
 