<main role="main">


  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="bd-placeholder-img" width="100%" height="70%" src="https://images.unsplash.com/photo-1490707967831-1fd9b48e40e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3150&q=80"
          role="img" />
        <div class="container">
          <div class="carousel-caption text-left">
            <h1 style="font-family: 'Playfair Display', serif; font-size:60px; font-weight:900;" class="display-4 font-weight-normal">The best dress rental in town!</h1>
            <p style="font-family: 'Raleway', sans-serif; font-weight: 900; font-size:35px;" class="lead font-weight-normal">Find your perfect dress. Search for your size. Sparkle up! </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="bd-placeholder-img" width="100%" height="70%" src="https://images.vogue.it/wp-content/uploads/2018/04/26124201/Abiti-da-sposa-2019-le-tendenze-moda-dalle-bridal-week1.jpg"
          role="img" />
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Need 5 different dresses?</h1>
            <p>We have lots of options to choose from. If you have a formal event, you can wear an evening gown or you can go short with our cocktail selection.</p>
          </div>
        </div>
      </div>

    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>



  <!--FILTER BAR --->
  <!--//filtros para que aparezcan los vestidos dependiendo de la categoria --->
  <br>
  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <button href="/dresses" style="color:#6c757d" type="button" class="btn">All</button>
    <button href="/dresses/Cocktail" style="color:#6c757d" type="button" class="btn" id="cocktailsbtn">Cocktails</button>
    <button href="/dresses/Evening Gown" style="color:#6c757d" type="button" class="btn" id="gownbtn">Evening Gowns</button>

    <div class="btn-group" role="group">
      <button style="color:#6c757d" id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Sizes
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="#">0</a>
        <a class="dropdown-item" href="#">2</a>
        <a class="dropdown-item" href="#">4</a>
        <a class="dropdown-item" href="#">6</a>
      </div>
    </div>
  </div>
  <!-- FILTER --->
  <div class="container">
    <div class="row">
      {{#each dresses}}
      <div class="row">
        <div class="album bg-light">
          <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
              <a href="/dress/{{id}}">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src={{picture}}>
                </a>
              <div class="card-body">
                <h1>{{name}}</h1>
                <div class="d-flex justify-content-between align-items-center">
                  <h3>${{price}}</h3>
                  <br>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    

</main>