<form id="formSignUp" method="POST" action="/signup">
<label for="firstName"> First Name: </label>
<input type="text" name="firstName" id="txtFirstName"/>

<label for="lastName"> Last Name: </label>
<input type="text" name="lastName" id="txtLastName"/>

<label for="email"> Email: </label>
<input type="email" name="email" id="txtEmail"/>

<label for="password"> Password: </label>
<input type="password" name="password" id="txtPassword"/>

<button type="submit">Sign Up</button>

</form>

<a href="/login"> Already have an account? Log In</a>