
 <form class="form-signin" id="formSignUp" method="POST" action="/signup">
  <img class="mb-4 text-center" src="/docs/4.2/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
 
  <label class="sr-only" for="firstName">First Name:</label>
  <input class="form-control" type="text" name="firstName" id="txtFirstName" placeholder="FirstName"/>

  <label class="sr-only" for="lastName">Last Name:</label>
  <input class="form-control" type="text" name="lastName" id="txtLastName" placeholder="LastName"/>

 <label class="sr-only" for="email">Email:</label>
  <input class="form-control"  type="email" name="email" id="txtEmail" placeholder="Email"/>

  <label for="password" class="sr-only">Password:</label>
  <input type="password" name="password" id="txtPassword" class="form-control" placeholder="Password"/>
 
  <button class="btn b btn-primary btn-block" type="submit">Sign Up</button>

<a href="/login"> Already have an account? Log In</a>

</form>
<hr>
