<br>
<br>
 <form class="form-signin" id="formSignUp" method="POST" action="/signup">
   <h1 style="font-family: 'Raleway', sans-serif; font-weight: 900; font-size:35px;" class="h3 mb-3 font-weight-normal">Register</h1>

  <label class="sr-only" for="firstName">First Name:</label>
  <input class="form-control" type="text" name="firstName" id="txtFirstName" placeholder="FirstName"/>
<br>
  <label class="sr-only" for="lastName">Last Name:</label>
  <input class="form-control" type="text" name="lastName" id="txtLastName" placeholder="LastName"/>

<br>
 <label class="sr-only" for="email">Email:</label>
  <input class="form-control"  type="email" name="email" id="txtEmail" placeholder="Email"/>
<br>
  <label for="password" class="sr-only">Password:</label>
  <input type="password" name="password" id="txtPassword" class="form-control" placeholder="Password"/>
 
  <button class="btn b btn-primary btn-block" type="submit">Sign Up</button>
<br>
<a href="/login"> Already have an account? Log In</a>

<br>

<br>
</form>
<hr>
