
<div class="d-md-flex flex-md-equal">
  <div class="bmr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden col-6">
    <div class="my-3 p-3">
            <!-- Should go {{image}}-->

     <img style="height:85%;" src="https://media.missguided.com/s/missguided/DE916554_set/1/red-bardot-skater-dress"  class="img-fluid" alt="Responsive image">
    </div>
  </div>


  <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden col-6">
    <div class="my-3 py-3">
            <!-- Should go an each for sizes {{name}}   {{description}}-->

      <h2 class="display-5 text-left" >Title of the Dress</h2>
      <h6 class="display-5 text-left" >SKU</h6>
      <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam totam in, ab tempora architecto 
        sapiente voluptates nulla quasi corporis error repellat. Earum, non. Consequatur, suscipit consectetur expedita
        inventore pariatur adipisci?</p>

  <div class="form-group" >
    <label for="exampleFormControlSelect1">Sizes</label>
    <select class="form-control custom-select " id="exampleFormControlSelect1">

      <!-- custom-select-sm Should go an each for sizes {{sizes}}-->
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>


 </div>


<!-- CALENDAR-->
  
  <div class="ui form">
    <div class="two fields">
      <div class="field">
        <label>Start date</label>
        <div class="ui calendar" id="rangestart">
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input type="text" placeholder="Start">
          </div>
        </div>
      </div>
      <div class="field">
        <label>End date</label>
        <div class="ui calendar" id="rangeend">
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input type="text" placeholder="End">
          </div>
        </div>
      </div>
    </div>
  </div>
<br>

<div>
<button type="button" class="btn btn-outline-secondary btn-lg btn-block ">Rent Now</button> 

  </div>

</div>



</div>



    </div>
  </div>
</div>ss