<form class="form-signin" action="/login" method="POST">
<img class="mb-4 text-center" src="/docs/4.2/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
<h1 class="h3 mb-3 font-weight-normal">Welcome, {{username}}</h1>
<p class="text-center">This is the best rental dress store you'll ever find.</p>
<a href="/admin"> Admin View</a>
<p>
  <a href="/logout"> Log Out</a>
</p>
</form>

  <hr>